* {
    margin: 0;
    padding: 0;
}

/*Efeito Parallax */

.titulo {
    color: blue;
    font-size: 100px;
    background-color: #c1c2bc;
    width: 1000px;
    position: relative;
    left: 500px;
    bottom: 100px;
}

#inicio {
    background-image: url('Plano\ de\ \ fundo\ 1.jpeg');
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 15% 5%;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(20, 20, 20);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*Sobre nós*/
.titulo2 {
    color: blue;
    font-size: 50px;
    background-color: #c1c2bc;
    width: 290px;
    position: relative;
    bottom: 50px;
    left: 800px;
}

.container {
    position: relative;
    top: 100px;
}

.conteudo {
    background-color: #c1c2bc;
    display: flex;
    height: 400px;
    width: 100%;
    padding: 5% 5%;
}

.texto1 {
    color: white;
    font-size: 25px;
    position: relative;
    top: 100px;
}

/*Historia*/

.titulo3 {
    color: blue;
    font-size: 50px;
    background-color: #c1c2bc;
    width: 390px;
    position: relative;
    top: 130px;
}

.Historia {
    background-image: url('Imagem\ Historia.jpg');
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 15% 5%;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(20, 20, 20);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.texto2 {
    color: white;
    font-size: 25px;
    position: relative;
    top: 100px;
}

/*Propósito,Missão,Visão,Valores*/

#meio {
    background-color: blue;
    position: relative;
    top: 100px;
    padding: 5% 5%;
    width: 100%;
}

.tema1 {
    background-color: #c1c2bc;
    display: flex;
    height: 200px;
    border: 5px ridge black;
    width: 2100px;
    height: 300px;
    position: relative;
    bottom: 50px;
}

.t1 {
    border: 5px ridge black;
    width: 200px;
    height: 200px;
    position: relative;
    top: 50px;
}

.Propósito {
    position: relative;
    top: 70px;
    left: 50px;
    font-size: 22px;
}


