@charset "utf-8";
* {
 margin:80px;
 padding: 0;
}
.showcase {
        background-image: url('attack on titan titulo.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        width: 1640px;
        text-align: center;
        color: #8C867C;
        font-size: 50px;
       }
       .titulo{
        position: absolute;
        right:600px;
        top:250px ;
        font-size: 100px;
       }

body{
        background-image: url('attack on titan fundo.jpg');
        background-repeat: no-repeat;
         background-size: cover;
         background-color:#314A20;
         height: 1500PX;

}
.começo{
    background-color: #C1C2BC;
    font-size: 30px;
    height: 800px;
}
.imagem1{
    height:500px;
    float:left;
}
.texto1{
    text-align: right;
}

.meio{
    font-size: 30px;
    clear:left;
    height: 800px;
    background-color: #C1C2BC;;
}
.list{
    text-align: right;
}

.video{
    float:left;
}
spam{
    color: #725436;
    text-align: right;
}
.fim{font-size: 30px;
    clear:left;
    height: 1200px;
    background-color: #C1C2BC;}

.notice1{
    background-color: white;
    width: 400px;
    height: 400px;
    float:right;
    position: absolute;
    right: 260px;
    top:2570px;
}
.notice2{
    background-color: white;
    width: 400px;
    height: 400px;
    clear: left;
}
.notice3{
    background-color: white;
    width: 400px;
    height: 400px;
    float:right;
    position: absolute;
    right: 260px;
    top:3060px;
}
.notice4{
    background-color: white;
    width: 400px;
    height: 400px;
    clear: left;
    

    
}
#section-a {
    padding: 20px;
    background: #C1C2BC;
    color: #fff;
    text-align: center;
    position: absolute;
    top:4000px;
    right: 95px;
    width: 1680px;
}
.image{
    height: 200px;
    width: 200px;
    align-items:left;

}

.textonoticia{
    position: absolute;
    top: 245px;
}
.textonoticia2{
    position: absolute;
    top: 2900px;
}
.textonoticia3{
    position: absolute;
    top: 3370px;
}