@charset "utf-8";
.container {
 display: flex;
}
.container div {
 border: 1px rgb(224, 48, 48) solid;
 padding: 10px;
}
.item-box-1 {
    flex: 2;
    order: 2;
    flex-direction: column;
   }
   .item-box-2 {
    flex: 1;
    order: 1;
   }
   .item-box-3 {
    flex: 1;
    order: 3;
   }
   