*{
    padding: 0;
    margin: 0;
}
body{
    width: 80%;
    margin: auto;
    padding: 30px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 300px;
    margin-right: 50px;
}
.div1{
    border: 2px solid #000;
    margin: 50px 0;
    padding: 50px;
    background: #faf2f2;
    border-radius: 50px;
}
.div h3{
    margin: 20px 0;
}

#container-left{
    display: flex;
}

#container-right{
    display: flex;
    flex-direction: row-reverse;
}

#container-right figure{
    margin-left: 50px;
}