@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3em;
    font-family: 'oswald',sans-serif;
    background-color: #f9f9f9;
    background: #fcfcf7;
}
.titulo{
    color: white;
    position: absolute;
    left: 630px;
    font-size: xx-large;
    text-decoration: underline;
    font-size: 50px;
}
.imagem1{
    position:absolute;
    left:330px;
    top: 30px;
}

#header-harry{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #644017;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
    padding: 25px;
    height: 200px;
}

#header-harry h1{
    grid-column: 2 / 4;
    margin: auto;
}

#header-harry img{
    margin: auto;
}

#header-harry img:hover{
    transform: scale(1.5);
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    display: grid;
    grid-gap:2rem;
    margin-bottom: 2rem;
}

.card{
    background-color: #e9d97f;
    position: relative;
    border: 5px solid #472905 ;
}

.card h3{
    text-align: center;
    padding: 15px 0;
    text-decoration: underline;
    color: white;
    background-color:#472905 ;
}

.card p{
    padding: 45px 0;
}

.card>div{
    padding: 2rem;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background: #884c4c;
    border-radius: 15px;
    color: #fff;
    padding: 0.8rem 1.8rem;
    position: absolute;
    left: 2%;
    bottom: 2%;
}

.btn:hover{
    opacity: 0.8;
}

footer{
    background-color: #644017;
    color: #fff;
    text-align: center;
    padding: 15px;
}